.brand{
    background-color: $primary;
    a{
        color: white;
        padding: 14px;
        &:hover{
            background-color: #6C4700;
        }
    }
}
.product{
    li{
        margin-bottom: 56px;
    }
    img{
        max-width: 255px;
    }
    .content2{
        line-height: 1.5;
    }
    .page {
        text-align: center;
        a{
            display: inline;
            color: #000000;
            margin: 0px 10px;
            &:hover{
                color: #AC8A46;
                text-decoration: underline;
        }
        }
    }
}
@include media-breakpoint-down(lg){
    .product{
        li{
            margin-bottom: 40px;
        }
    }
}
@include media-breakpoint-down(md){
    .brand {
        display: none;
    }
    .product{
        li{
            margin-bottom: 30px;
            .title2{
                font-size: 20px;
            }
        }
    }
}