{% extends "admin/base.html" %} {% block title %}Admin Home{% endblock %} {%
block content %} {% include 'admin/nav.html' %}

<div class="container" style="padding: 30px">
  <style>
    .header {
      text-align: center;
      margin-bottom: 30px;
      color: #000000;
      background-color: rgba(
        231,
        236,
        243,
        0.6
      ); /* Blue background with 80% opacity */
      padding: 20px;
      margin-bottom: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .header h1 {
      font-family: "Arial", sans-serif;
      font-size: 36px;
      font-weight: bold;
      margin: 0;
    }
    .container {
      margin-bottom: 80px;
    }
  </style>

  <div class="header">
    <h1>Welcome Admin!</h1>
  </div>

  <div class="row">
    <!-- First Table Column -->
    <div class="col-md-6">
      <h1>Books</h1>
      <table class="table table-striped table-transparent">
        <thead>
          <tr>
            <th scope="col">Book Id</th>
            <th scope="col">Book Name</th>
            <th scope="col">Author</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for book in book_data %}
          <tr>
            <th scope="row">{{ book.bookid }}</th>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>
              <a
                class="btn btn-warning"
                href="{{ url_for('views.editBooks', id=book.bookid) }}"
                role="button"
                >Edit</a
              >
            </td>
            <td>
              <a
                class="btn btn-danger"
                href="{{ url_for('views.delete_book', id=book.bookid) }}"
                role="button"
                >Delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Second Table Column -->
    <div class="col-md-6">
      <h1>Users</h1>
      <table class="table table-striped table-transparent">
        <thead>
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Student SSN</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.studentID }}</td>
            <td>
              <a
                class="btn btn-danger"
                href="{{ url_for('views.delete_user', id=user.id) }}"
                role="button"
                >Delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
