html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

/* solve Select item line break issue */
.ant-select-selector {
  white-space: normal !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  display: block !important;
  line-height: 1.4;
  border: none !important;
  box-shadow: none !important;
  min-height: auto !important;
  height: auto !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  display: flex !important;
  align-items: center !important;

}

.ant-select-selection-item {
  white-space: normal !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  display: inline !important;
  line-height: 1.4;
}