html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: 蘋方-繁, "PingFang TC","SF Pro" , sans-serif;
    line-height: 1.5;
}

*,*::after,*::before{
    box-sizing: border-box;
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.title{
    font-size: 32px;
    font-weight: bold;
    line-height: 2;
}
.title2{
    font-size: 24px;
    font-weight: bold;
}
.content{
    font-size: 20px;
}
.content2{
    font-size: 16px;
    line-height: 1.2;
}
.botton{
    border: 2px solid #000000;
    border-radius: 30px;
    text-align: center;
    max-width: 350px;
    height: 60px;
    font-size: 20px;
    color: #000;
    line-height: 60px;
}
.botton-w{
    color: white;
    border-color: white;
    font-size: 30px;
}
.botton:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.botton-w:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.mb-0{
    margin-bottom: 0;
}
.mb-2{
    margin-bottom: 8px;
}
.mb-4{
    margin-bottom: 16px !important;
}
.mb-13{
    margin-bottom: 52px;
}
.mb-15{
    margin-bottom: 60px;
}
.c-white{
    color: white;
}
.c-gray{
    color: #8D8D8D;
}

/*navbar*/
.navbar h1{
    background: url(img/d’Perfume.png) center ;
    width: 128px;
    height: 38px;
    cursor: pointer;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.navbar ul a{
    padding: 16px;
    font-size: 20px;
    color: #8D8D8D;
    display: flex;
    align-items: center;
}
.navbar ul a:hover{
    color: #AC8A46;
    font-size: 21px;
}
.navbar_menu{
    display: none;
}
.navbar_menu a{
     color: #8D8D8D;
}
.navbar_menu_number{
    background-color: #916000;
    border-radius: 7px;
    font-size: 12px;
    width: 16px;
    top: -8px;
    right: -8px;
}
.navbar_menu img{
    padding: 12px;
    margin-left: 12px;
}

@media(max-width:376px){
    .navbar ul a{
        display: none;
    }
    .navbar_menu{
        display: flex;
    } 
}
/*banner*/
.banner{
    background: url(img/banner.jpg) no-repeat center;
    background-size: cover;
    height: 870px;
}
.banner-text{
    height: 870px;
}
.banner h2{
    font-size: 40px;
    font-weight: bold;
}
.banner p{
    font-size: 24px;
}
@media(max-width:376px){
    .banner{
        background-image: url(img/banner_mb.jpg);
        height: 480px;
    }
    .banner-text{
        height: 480px;
    }
    .banner h2{
        font-size: 32px;
    }
    .banner p{
        font-size: 20px;
        line-height: 1.5;
    }
}
/*商品介紹*/
.product-introduction{
    padding-top: 60px;
    padding-bottom: 60px;
}
.watch-more{
    font-size: 16px;
    color: #AC8A46;
}
@media(max-width:376px){
    .product-introduction{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .product-introduction li{
        margin-bottom: 32px;
    }
}
/*賣產品區塊*/
.sell{
    background-color: #E0E0E0;
    padding: 40px;
}
.sell_img{
    max-width: 350px;
    height: 540px;
}
.img-1{
    background: url(img/sell\ 1.jpg) center no-repeat;
    background-size: cover;
}
.img-2{
    background: url(img/sell\ 2.jpg) center no-repeat;
    background-size: cover;
}
.img-3{
    background: url(img/sell\ 3.jpg) center no-repeat;
    background-size: cover;
}
.sell .count{
    text-decoration: line-through;
}
.sell .sold-out{
    background-color: rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 540px;
    line-height: 540px;
    top: 0;
    left: 12px;
}
@media(max-width:376px){
    .sell{
        padding: 32px 0px;
    }
    .sell li{
        margin-bottom: 32px;
    }
    .sell_img{
        max-width: 345px;
        height: 350px;
    }
    .img-1{
        background-position: bottom;
    }
    .img-2{
        background-position: bottom;
    }
    .sell .sold-out{
        width: 345px;
        height: 350px;
        line-height: 350px;
    }
}
/*回收空瓶區塊*/
.recycle{
    padding-top: 60px;
    padding-bottom: 60px;
}
.recycle-img{
    background: url(img/recycle.jpg) center no-repeat;
    background-size: cover;
    width: 730px;
    height: 520px;
}

@media(max-width:376px){
    .recycle{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .recycle-img{
        max-width: 345px;
        height: 520px;
    }
}

/*訂閱區塊*/
.subscribe{
    background: url(img/anis-m-WnVrO-DvxcE-unsplash.jpg) center;
    background-size: cover;
    height: 600px;
    padding-top: 312px;
}

.subscribe .email-input{
    border: 2px solid #916000;
    border-radius: 4px 0 0 4px;
    width: 220px;
    height: 60px;
    line-height: 60px;
    padding-left: 16px;
}
.subscribe .subscribe-btn{
    width: 100%;
    height: 60px;
    background-color: #916000;
    border: 2px solid #916000;
    border-radius: 0 4px 4px 0;
}
.subscribe .subscribe-btn:hover{
    background-color: #6C4700;
}
@media(max-width:376px){
    .subscribe{
        background-position: left ;
    }
}
/*footer*/

.footer{
    background-color: #916000;
}
.footer img{
    width: 128px;
    height: 38px;
}
.footer p{
    font-size: 14px;
    margin-left: 20px;
    padding: 32px 0px;
}
.footer a{
    color: white;
    font-size: 20px;
    padding: 28px 18px;
    line-height: 1.2;
}
.footer a:hover{
    font-size: 21px;
    text-decoration: underline;
}
@media(max-width:768px){
    .footer a{
        display: none;
    }
}